#Activation header{
    margin-top:80px;
    line-height: 40px;;
    background-color: orange;
    border-radius:5px;
}

#Activation header h2{
    margin-left:15px;;
}

.Activation{
    margin-top:20px;
}

.Activation input{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

#activate {
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
}

input {
    text-align: center;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    text-align: center;
  }

  #details header{
    margin-top:80px;
    line-height: 40px;;
    background-color: orange;
    border-radius:5px;
}

#details header h2{
    margin-left:15px;;
}

#Modif{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#Modif h3{
    margin-top:30px;
    line-height: 40px;;
    background-color: violet;
    border-radius:5px;
    border: 1px solid black;
}
#detl{
	background: #F8F8F8;
	border: 1px solid black;
}
#form{
    margin-left: 90px;
}

#form label{
    margin-left: 20px;
}

#form input{
    height: 30px;
    width: 300px;
}

#form input[type=email],
#form input[type=textarea]{
    width: 300px;
}

#form select{
    height: 30px;
    width: 200px;
}

#form button{
    width: 150px;
    height: 30px;
}

#change{
    background-color: blue;
}
#clear{
    background-color: red;
}