*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
}
.head{
    top: 0;
    position: fixed;
    width:100%;
    background-color:#042331;
    color: rgba(0, 225, 255, 0.973);
    font-size: 50px;
    line-height:60px;
}
.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #042331;
}

.sidebar header{
    font-size:22px;
    color: red;
    text-align: center;
    line-height:70px;
    user-select: none;
    background-color: #063146;
}

.sidebar ul li{
    box-sizing:border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: all 0.4s;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height:65px;
    font-size: 20px;
    padding-left:40px;
    color: white;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}


ul li  a:hover{
    color: cyan;
    border-left-color: cyan;
}

ul li a.active{
    color: cyan;
    border-left-color: cyan;
}

.sidebar ul a i{
    margin-right:16px;
}

.sidebar ul ul{
   position:static;
   display: none;
}

.sidebar ul .Odbtn.show{
   display: block;
}

.sidebar ul ul li{
   border-bottom:none;
   line-height:42px;
}

.sidebar ul ul li a{
   font-size:18px;
   padding-left:80px;
}

ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

ul ul li a:hover{
    color: cyan!important;
}


#span{
   margin-left:60px;
}

.sidebar ul li a span.rotate{
   transform: rotate(-180deg);
}

#check{
   display: none;
}

label #btn, label #cancel{
   position: absolute;
   cursor: pointer;
   background: #042331;
   border-radius:3px;
}

label #btn{
   left: 180px;
   position: fixed;
   top:10px;
   font-size: 30px;
   color: white;
   padding: 6px 12px;
}

label #cancel{
   z-index:1111;
   left: -180px;
   position: fixed;
   top: 10px;
   font-size:30px;
   color:white;
   padding: 6px 12px;
}

section{
    margin-left: 26%;
    margin-right: 10px;
    transition: all 0.5px;
}

#check:checked ~ .sidebar{
   left: -25%;
}

#check:checked ~ label #btn{
   left: 25%;
   opacity: 0;
   pointer-events: none;
}

#check:checked ~ label #cancel{
   left: 180px;
}

#check:checked ~ section{
   margin-left: 10px;
}
