*{
	margin: 0;
	padding: 0;
}
.rel{
	position:relative;
	width:1340px;
	height:700px;
	background-color: rgb(236, 236, 206);
}

#title h1{
	border: 1px solid black;
	font-size: 25px;
	padding:8px 1200px 8px 30px;
	background-color:brown;
	/*width:400px;*/
	color: white;
	position:absolute;
	left:20px;
	top:70px;
	font-weight: bold;
	
}

#stb{
	margin-top:35px;
	margin-left:9px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
    padding: 5px 10px;
    position:absolute;
	left:20px;
	top:130px;
}

#order1{
	background-color:rgb(54, 96, 233);
	color:white;
	font-size:18px;
    padding: 3px 40px 3px 40px;
    position:absolute;
	left:290px;
	top:165px;
}
#cancel1{
	background-color:red;
	color:white;
	font-size:18px;
    padding: 3px 40px 3px 40px;
    position:absolute;
	left:430px;
	top:165px;
}

#state{
	margin-top:13px;
	margin-left:53px;
	font-size:15px;
	background-color:ivory;
	box-sizing: border-box;
    padding: 5px 10px;
    position:absolute;
	left:30px;
	top:200px;
}

#sel{
    display:none;
}